.git
.gitignore
node_modules
vendor
.env
env.php
storage/cache/*
storage/logs/*
storage/compiled-templates/*
storage/backup/*
storage/model/*
public/page-cache/*
public/assets-cache/*
public/image-cache/*
*.md
Dockerfile
.dockerignore
docker-compose.yaml
render.yaml
*.sh
!docker-entrypoint.sh

